@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.popupNotification {
  width: 400px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: #588157;
  box-shadow: 0 0 5px 2px #333;
  border-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  color: #fff;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .startPage {
  width: 100%;
  min-height: 100vh;
  background-color: #344e41;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.wrap .startPage h2 {
  font-size: 56px;
  margin-bottom: 50px;
}
.wrap .startPage .btnContainer {
  width: 570px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .startPage .btnContainer .signBtn {
  padding: 16px 52px;
  cursor: pointer;
  background-color: #588157;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .startPage .btnContainer .signBtn:hover {
  border: 3px solid #588157;
  background-color: #344e41;
}
.wrap .signUpPage {
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.wrap .signUpPage .signUpForm {
  width: 800px;
  height: 500px;
  box-shadow: 0 1px 7px 0 #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 0 50px 20px 50px;
}
.wrap .signUpPage .signUpForm .formCardContainer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard {
  width: 420px;
  height: 230px;
  margin-top: -100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(0deg);
  position: absolute;
  transition: transform 0.6s linear;
  overflow: hidden;
  backface-visibility: hidden;
  background: linear-gradient(to right, #3a5a40, #588157);
  border-radius: 10px;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .front .formCardHeader {
  width: 100%;
  height: 40px;
  font-size: 20px;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .front .PANConatiner {
  width: 100%;
  height: 50px;
  font-size: 32px;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .front .flexBox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .back {
  width: 100%;
  height: 100%;
  transform: perspective(600px) rotateY(180deg);
  position: absolute;
  transition: transform 0.6s linear;
  overflow: hidden;
  backface-visibility: hidden;
  background: linear-gradient(to right, #3a5a40, #588157);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .back .backTopConatiner {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .back .backTopConatiner .line {
  width: 100%;
  height: 35px;
  background-color: #000;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .back .backBottomConatainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .back .backBottomConatainer .backCVVBox {
  width: 100px;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  padding: 5px;
}
.wrap .signUpPage .signUpForm .formCardContainer .formCard .back .backBottomConatainer .backCVVBox p {
  font-size: 16px;
}
.wrap .signUpPage .signUpForm .cardNumberConatiner {
  width: 100%;
  height: 100px;
}
.wrap .signUpPage .signUpForm .cardNumberConatiner p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #999;
}
.wrap .signUpPage .signUpForm .cardNumberConatiner input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 2px solid #3b5c41;
  outline: none;
  font-size: 17px;
}
.wrap .signUpPage .signUpForm .formLoginContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .signUpPage .signUpForm .formLoginContainer .formLogin {
  width: 49%;
  height: 100%;
}
.wrap .signUpPage .signUpForm .formLoginContainer .formLogin p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #999;
}
.wrap .signUpPage .signUpForm .formLoginContainer .formLogin input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #3b5c41;
  font-size: 17px;
}
.wrap .signUpPage .signUpForm .formLoginContainer .formPassword {
  width: 49%;
  height: 100%;
}
.wrap .signUpPage .signUpForm .formLoginContainer .formPassword p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #999;
}
.wrap .signUpPage .signUpForm .formLoginContainer .formPassword input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #3b5c41;
  font-size: 16px;
}
.wrap .signUpPage .signUpForm .formDateContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .signUpPage .signUpForm .formDateContainer .formMonth {
  width: 32%;
  height: 100%;
}
.wrap .signUpPage .signUpForm .formDateContainer .formMonth p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #999;
}
.wrap .signUpPage .signUpForm .formDateContainer .formMonth select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 2px solid #3b5c41;
  outline: none;
  font-size: 17px;
}
.wrap .signUpPage .signUpForm .formDateContainer .formYear {
  width: 32%;
  height: 100%;
}
.wrap .signUpPage .signUpForm .formDateContainer .formYear p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #999;
}
.wrap .signUpPage .signUpForm .formDateContainer .formYear select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 2px solid #3b5c41;
  outline: none;
  font-size: 17px;
}
.wrap .signUpPage .signUpForm .formDateContainer .formCVV {
  width: 32%;
  height: 100%;
}
.wrap .signUpPage .signUpForm .formDateContainer .formCVV p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #999;
}
.wrap .signUpPage .signUpForm .formDateContainer .formCVV input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 2px solid #3b5c41;
  outline: none;
  font-size: 17px;
}
.wrap .signUpPage .signUpForm .btnConatiner {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .signUpPage .signUpForm .btnConatiner button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #3a5a40, #588157);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.wrap .signInPage {
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.wrap .signInPage .signInForm {
  width: 700px;
  height: 450px;
  box-shadow: 0 1px 7px 0 #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 0 50px 20px 50px;
}
.wrap .signInPage .signInForm .formCardConteiner {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
.wrap .signInPage .signInForm .formCardConteiner .formCard {
  width: 420px;
  height: 230px;
  margin-top: -100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .signInPage .signInForm .formCardConteiner .formCard .front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(0deg);
  position: absolute;
  transition: transform 0.6s linear;
  overflow: hidden;
  backface-visibility: hidden;
  background: linear-gradient(to right, #3a5a40, #588157);
  border-radius: 10px;
}
.wrap .signInPage .signInForm .formCardConteiner .formCard .front .formCardHeader {
  width: 100%;
  height: 40px;
  font-size: 20px;
}
.wrap .signInPage .signInForm .formCardConteiner .formCard .front .PANConatiner {
  width: 100%;
  height: 50px;
  font-size: 32px;
}
.wrap .signInPage .signInForm .formCardConteiner .formCard .front .flexBox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.wrap .signInPage .signInForm .formLoginContainer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .signInPage .signInForm .formLoginContainer .formLogin {
  width: 100%;
  height: 100px;
}
.wrap .signInPage .signInForm .formLoginContainer .formLogin p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #999;
}
.wrap .signInPage .signInForm .formLoginContainer .formLogin input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 2px solid #3b5c41;
  outline: none;
  font-size: 17px;
}
.wrap .signInPage .signInForm .formLoginContainer .formPassword {
  width: 100%;
  height: 100px;
}
.wrap .signInPage .signInForm .formLoginContainer .formPassword p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #999;
}
.wrap .signInPage .signInForm .formLoginContainer .formPassword input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 2px solid #3b5c41;
  outline: none;
  font-size: 17px;
}
.wrap .signInPage .signInForm .btnContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .signInPage .signInForm .btnContainer button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #3a5a40, #588157);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.wrap .mainPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .mainPage .homePage {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #588157;
}
.wrap .mainPage .homePage .header {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}
.wrap .mainPage .homePage .header .balanceConteiner {
  width: 40%;
  height: 100%;
  padding-top: 100px;
}
.wrap .mainPage .homePage .header .balanceConteiner p {
  font-size: 72px;
  color: #fff;
  font-weight: 700;
}
.wrap .mainPage .homePage .header .cardConteiner {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard {
  width: 420px;
  height: 230px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(0deg) rotateX(30deg);
  position: absolute;
  transition: transform 0.6s linear;
  overflow: hidden;
  backface-visibility: hidden;
  background-color: #3a5a40;
  border-radius: 10px;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .front .formCardHeader {
  width: 100%;
  height: 40px;
  font-size: 20px;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .front .PANConatiner {
  width: 100%;
  height: 50px;
  font-size: 32px;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .front .PANConatiner span {
  margin: 5px;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .front .flexBox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .back {
  width: 100%;
  height: 100%;
  transform: perspective(600px) rotateY(180deg) rotateX(30deg);
  position: absolute;
  transition: transform 0.6s linear;
  overflow: hidden;
  backface-visibility: hidden;
  background-color: #3a5a40;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .back .backTopConatiner {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .back .backTopConatiner .line {
  width: 100%;
  height: 35px;
  background-color: #000;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .back .backBottomConatainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .back .backBottomConatainer .backCVVBox {
  width: 100px;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  padding: 5px;
}
.wrap .mainPage .homePage .header .cardConteiner .formCard .back .backBottomConatainer .backCVVBox p {
  font-size: 16px;
}
.wrap .mainPage .homePage .historyOperationsConteiner {
  width: 95%;
  height: 59vh;
  background-color: #333;
  border-radius: 50px;
  display: flex;
  padding: 40px;
}
.wrap .mainPage .homePage .historyOperationsConteiner .historyOperation {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background-color: #3a5a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.wrap .mainPage .homePage .historyOperationsConteiner .historyOperation .operationType {
  font-size: 20px;
  color: #fff;
}
.wrap .mainPage .homePage .historyOperationsConteiner .historyOperation .credits {
  font-size: 20px;
  color: #fff;
}
.wrap .mainPage .homePage .historyOperationsConteiner .historyOperation .operationTime {
  font-size: 20px;
  color: #fff;
}
.wrap .mainPage .homePage .menuConteiner {
  width: 100%;
  height: 10vh;
  background-color: #262626;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrap .mainPage .homePage .menuConteiner a {
  width: 200px;
  height: 10vh;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.wrap .mainPage .homePage .menuConteiner a i {
  font-size: 24px;
}
.wrap .mainPage .homePage .menuConteiner .selectedPage {
  color: #588157;
}
.wrap .mainPage .creditTransfersPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #588157;
}
.wrap .mainPage .creditTransfersPage .creditTransfersContainer {
  width: 100%;
  height: 90vh;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px 0 50px;
}
.wrap .mainPage .creditTransfersPage .creditTransfersContainer .searchCardContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
}
.wrap .mainPage .creditTransfersPage .creditTransfersContainer .searchCardContainer p {
  font-size: 24px;
  color: #fff;
}
.wrap .mainPage .creditTransfersPage .creditTransfersContainer .searchCardContainer .inputContainer {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}
.wrap .mainPage .creditTransfersPage .creditTransfersContainer .searchCardContainer .inputContainer input {
  width: 600px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  /* Білий фон з прозорістю */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  /* Розмиття фону */
  -webkit-backdrop-filter: blur(10px);
  /* Для підтримки в Safari */
  color: #fff;
  outline: none;
  margin-right: 50px;
  padding-left: 20px;
  font-size: 24px;
}
.wrap .mainPage .creditTransfersPage .creditTransfersContainer .searchCardContainer .inputContainer button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.wrap .mainPage .creditTransfersPage .creditTransfersContainer .cardContactsContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  border-radius: 20px;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm {
  width: 700px;
  height: 700px;
  border-radius: 10px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .userInfoContainer {
  width: 100%;
  height: 100px;
  background-color: #262626;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #fff;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .userInfoContainer i {
  font-size: 50px;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .userInfoContainer .userInfo {
  width: 87%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .userInfoContainer .userInfo .nameInfo {
  height: 45%;
  font-size: 26px;
  display: flex;
  align-items: center;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .userInfoContainer .userInfo .cardInfo {
  height: 45%;
  display: flex;
  align-items: center;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .weaveAmountConatiner {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .weaveAmountConatiner .balance {
  font-size: 36px;
  color: #ccc;
  margin-bottom: 10px;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .weaveAmountConatiner input {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  outline: none;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  font-size: 42px;
  color: #fff;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .weaveAmountConatiner input[type=number]::-webkit-outer-spin-button,
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .weaveAmountConatiner input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .btnContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .mainPage .creditTransfersPage .moneyTransferContainer .moneyTransferForm .btnContainer button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #3a5a40;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.wrap .mainPage .creditTransfersPage .successfulOperationContainer {
  width: 100%;
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .mainPage .creditTransfersPage .successfulOperationContainer .mainContainer {
  width: 500px;
  height: 500px;
  background-color: #333;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 1.7s ease forwards draw;
  opacity: 1;
}
.wrap .mainPage .creditTransfersPage .successfulOperationContainer .mainContainer svg {
  width: 80%;
  height: 80%;
}
.wrap .mainPage .creditTransfersPage .successfulOperationContainer .mainContainer path {
  stroke-dasharray: 99.4757843018;
  stroke-dashoffset: -99.4757843018;
  fill: transparent;
}
.wrap .mainPage .creditTransfersPage .successfulOperationContainer .mainContainer svg.animate path {
  animation: 1.7s ease forwards draw;
  opacity: 1;
}
@keyframes draw {
  0% {
    opacity: 1;
    stroke-dashoffset: -99.4757843018;
    fill: transparent;
    transform: translateY(0);
  }
  35% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    fill: #3da35a;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    fill: #3da35a;
    stroke-dashoffset: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
}
.wrap .mainPage .creditTransfersPage .menuConteiner {
  width: 100%;
  height: 10vh;
  background-color: #262626;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrap .mainPage .creditTransfersPage .menuConteiner a {
  width: 200px;
  height: 10vh;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.wrap .mainPage .creditTransfersPage .menuConteiner a i {
  font-size: 24px;
}
.wrap .mainPage .creditTransfersPage .menuConteiner .selectedPage {
  color: #588157;
}/*# sourceMappingURL=style.css.map */